/* Cross-element styling */
body {
  font-family: "Lato", sans-serif;
}

.icon {
  font-size: 1.5em;
  margin: 0.5em;
}

.sidebar {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: #667;
}

.sidebar-list {
  flex-grow: 1;
  overflow: auto;
}

.sidebar-head {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10% 10% 5% 10%;
  padding: 0 0 3% 2%;
  position: sticky;
  top: 0;
  z-index: 2;
  color: #ccc;
  border-bottom: 3px solid #99a;
}

/* Overall layout */
body {
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 200px 1fr;
}

#head {
  grid-column: 1 / 4;
  grid-row: 1;
  z-index: 2;

  background-color: #667;

  display: grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: 1fr 3fr 1fr;
}

#controls {
  grid-row: 2;
  grid-column: 1 / 4;
  background: #eefa;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#controls-left {
  grid-column: 1;

  /* Centre contents */
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-play-circle {
  font-size: 2.2em;
}

#controls-time {
  grid-column: 2;

  display: flex;
  flex-direction: row;
  align-items: center;
}

#slider-bar {
  flex-grow: 1;
  margin: 10px;

  position: relative;
  height: 0;
  border-top: 2px solid #bbc;
  border-bottom: 3px solid #ccd;
  border-radius: 5px;

  background: #ccd;
}

#slider-knob {
  position: absolute;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 20px;

  background: #667;
  filter: drop-shadow(0px 2px 3px #99a);
}

#controls-right {
  grid-column: 3;

  /* Centre contents */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#artists {
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
}

.artist {
  font-size: 1.5em;
  padding: 0.75em;
  position: relative;
}

.artist:hover {
  background-color: #bbc;
}

#albums {
  grid-column: 2;
  grid-row: 2;
  z-index: 0;
}

#queue {
  grid-column: 3;
  grid-row: 2;
  z-index: 1;
}
